# Project exclude paths
/.gradle/
/kafka-basics/build/
/kafka-basics/out/
/kafka-basics/out/production/classes/
/kafka-consumer-opensearch/out/
/kafka-consumer-opensearch/out/production/classes/
/kafka-producer-wikimedia/out/
/kafka-producer-wikimedia/out/production/classes/